/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.info-h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.add-item.active {
	color: #f5f5f5;
  background-color: #333;
  border-color: #333;
}

.btn-group.btn-group-justified {
	padding-bottom: 20px;
}

.tab-content {
	padding-top: 10px;
}

.add-attra-icon {
  display: inline;
  margin-left: 5px;
}

#navbar {
  overflow: hidden;
}

.middleIcon {
  vertical-align: middle;
}

#pathModal .modal-header {
  display: inline;
}

.blockquote {
  padding: .5rem 1rem;
  border-left: .25rem solid #eceeef;
}

.nav-pills .nav-item .active {
  background-color: #505962;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
  background-color: #394046;
}

.path-steps .fas {
  margin-right: 5px;
}

#attractions .list-group-item {
  display: inline;
}

#attractions .list-group-item .col-sm-2 {
  text-align: right;
}